@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* All */

* {
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Kanit", 'Courier New';
}


/* ______Header______ */

header {
    background-image: url(../elements/Fond\ header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
    padding: 0.3%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Logo */

.logo a img {
    padding-top: 2%;
    padding-left: 40px;
    width: 100px;
    transition: transform .1s;
}

.logo a img:hover {
    transform: scale(1.08);
    transition: transform .1s;
}


/* menu */

.menu {
    position: sticky;
    top: 0;
    left: 150px;
    background-color: white;
}

.prem {
    padding: 3px;
    border-top: 5px rgba(255, 0, 0, 0) solid;
    transition: all 0.2s ease-in-out;
    margin: 20px;
}

.prem:hover {
    border-top: 5px red solid;
    transition: all 0.2s ease-in-out;
}

.menu>ul {
    display: flex;
    list-style: none;
}

.menu ul {
    padding: 10px;
}

.menu li>a {
    font-size: 1.3em;
    font-weight: 500;
    text-decoration: none;
    color: black;
    display: block;
}

.sous-nav {
    font-size: 0.8em;
    list-style: none;
    display: none;
    position: absolute;
    top: 69px;
    left: 0;
    background: rgb(255, 255, 255);
    border: 1px solid black;
    width: max-content;
}

.sous-nav li {
    padding: 10px;
}

.sous-nav li:hover {
    background: rgb(185, 185, 185);
}

.sous-nav li a {
    padding: 10px;
}

.has-sous-nav:hover .sous-nav {
    display: block;
}

.has-sous-nav {
    position: relative;
}


/* Reseaux */

.reseaux {
    display: flex;
    flex-direction: column;
}

.reseaux img {
    width: 60px;
    transition: all 0.2s ease-in-out
}

.instagram:hover {
    transform: rotate(25deg);
    transition: all 0.2s ease-in-out;
}

.facebook:hover {
    transform: rotate(-25deg);
    transition: all 0.2s ease-in-out;
}


/* ______Corps______ */

.corps {
    height: max-content;
    padding-bottom: 3%;
    background-image: url(../elements/fond1.png);
    background-size: cover;
    background-position: right;
}


/* Galerie */

h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: "Kanit", 'Courier New';
    font-size: 2.6em;
    padding-top: 2%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    width: 90%;
    padding: 2% 5%;
}

.gallery img {
    width: 110%;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
    user-select: none;
}

.gallery img:hover {
    transform: scale(1.05);
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 110%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.popup a {
    width: max-content;
    height: max-content;
}

.popup img {
    user-select: none;
    max-width: 90%;
    max-height: 90%;
}

.popup:target {
    display: flex;
}


/* Footer */

footer {
    background-color: white;
    padding: 2%;
    height: max-content;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer img {
    width: 200px;
}

footer p {
    font-weight: 500;
    font-size: 1.3em;
    margin-bottom: 1%;
}

footer .contact {
    font-size: 0.8em;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

footer a {
    color: black;
    font-size: 1.9em;
    padding: 1%;
    transition: all 0.2s ease-out;
}

footer a:hover {
    color: red;
    transition: all 0.2s ease-out;
}

footer .place {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    text-align: right;
    right: 1;
    font-size: 0.8em;
}

footer .place p {
    margin-right: 50px;
}

hr {
    height: 300px;
    width: 4px;
    color: black;
    border: none;
    background-color: black;
}